<footer class="site-footer">

  <div class="wrap">
    
    <ul>
      <a href="mailto:me@igorapa.com" target="_blank"><li class="fa fa-envelope"></li></a>
      <a href="https://twitter.com/igorapa" target="_blank"><li class="fa fa-twitter"></li></a>
      <a href="http://www.linkedin.com/in/igorapa" target="_blank"><li class="fa fa-linkedin"></li></a>
      <a href="https://github.com/igorapa" target="_blank"><li class="fa fa-github"></li></a>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><li class="fa fa-rss"></li></a>
    </ul>

  </div>

</footer>
